[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/pathogen"]
  path = vim/bundle/pathogen
  url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/coffee"]
  path = vim/bundle/coffee
  url = https://github.com/kchmck/vim-coffee-script.git
